Repository mitre-attack/attack-navigator: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-styles, npm-lint-scripts

.pre-commit-config.yaml:

default_stages: [commit]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
        stages: [commit]
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: detect-private-key
      - id: end-of-file-fixer
        stages: [commit]
      - id: mixed-line-ending
        args: [--fix=no]
        stages: [commit]
      - id: trailing-whitespace
        stages: [commit]
  - repo: local
    hooks:
      - id: npm-lint-styles
        name: run npm lint for styles
        entry: npm run lint:styles
        language: system
        types: [scss]
        stages: [push]
      - id: npm-lint-scripts
        name: run npm lint for scripts
        entry: npm run lint:scripts
        language: system
        types: [ts]
        stages: [push]

Remove pre-commit config (patch)
  .pre-commit-config.yaml
Due: none

Fix invalid parameter names (fix)
  azure-pipelines.yml
Due: none

Configure build and deploy for fork branch (fix)
  azure-pipelines.yml
Due: none

Add minimal pre-commit config to avoid fork conflicts (fix)
  .pre-commit-config.yaml
Due: none

Add step to install NPM dependencies in subdir (fix)
  azure-pipelines.yml
Due: none

Fix incorrect S3 bucket name (fix)
  azure-pipelines.yml
Due: none

Revert unsupported prod builds (fix)
  nav-app/package.json
Due: none

Added selectAllStix/deselectAllStic methods
  nav-app/src/app/techniques-search/techniques-search.component.html
  nav-app/src/app/techniques-search/techniques-search.component.ts
Due: npm-lint-scripts

Adjusted styling of sidebar contents, added MatCard and MatDivider modules
  nav-app/src/app/app.module.ts
  nav-app/src/app/techniques-search/techniques-search.component.html
  nav-app/src/app/techniques-search/techniques-search.component.scss
Due: npm-lint-styles, npm-lint-scripts

Removed Multiselect component
  nav-app/src/app/app.module.ts
  nav-app/src/app/multiselect/multiselect.component.html
  nav-app/src/app/multiselect/multiselect.component.scss
  nav-app/src/app/multiselect/multiselect.component.spec.ts
  nav-app/src/app/multiselect/multiselect.component.ts
Due: npm-lint-styles, npm-lint-scripts

added unchanged objects to total changelog length
  nav-app/src/app/data.service.ts
Due: npm-lint-scripts

added filter for showing annotated/unannotated objects
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-scripts

remove unused code
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-scripts

only show tactics which have objects in the changelog
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-scripts

update sections; fix select-all checkbox bug
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-scripts

updated changelog length to include all technique tactic IDs
  nav-app/src/app/data.service.ts
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
Due: npm-lint-scripts

Changed highlightedTechnique in ViewModel to a Set<string> of technique IDs that are highlighted; Added highlight on hover over technique search results feature
  nav-app/src/app/matrix/technique-cell/technique-cell.component.ts
  nav-app/src/app/techniques-search/techniques-search.component.html
  nav-app/src/app/techniques-search/techniques-search.component.ts
  nav-app/src/app/viewmodels.service.ts
Due: npm-lint-scripts

Adjusted style in techniques search component results table for consistency across tables
  nav-app/src/app/techniques-search/techniques-search.component.scss
Due: npm-lint-styles

Added seenIDs set to remove duplicate sdos in dataService, since the filter has been removed from the techniques search (multiselect) component
  nav-app/src/app/data.service.ts
Due: npm-lint-scripts

Updated CHANGELOG.md and Help component
  CHANGELOG.md
  nav-app/src/app/help/help.component.html
Due: none

Updated CHANGELOG.md date to TBD, and removed TODO as it's working as intended
  CHANGELOG.md
  nav-app/src/app/matrix/technique-cell/technique-cell.component.ts
Due: npm-lint-scripts

created changelog cell component
  nav-app/src/app/app.module.ts
  nav-app/src/app/sidebar/changelog-cell/changelog-cell.component.html
  nav-app/src/app/sidebar/changelog-cell/changelog-cell.component.scss
  nav-app/src/app/sidebar/changelog-cell/changelog-cell.component.spec.ts
  nav-app/src/app/sidebar/changelog-cell/changelog-cell.component.ts
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-styles, npm-lint-scripts

updated table to iterate through objects rather than ids
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-scripts

show changelog cell for related object
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-scripts

added logic for copy/revert copy of technique annotations
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
  nav-app/src/app/viewmodels.service.ts
Due: npm-lint-scripts

Fixed averageScore returning as undefined error--which was breaking the techniques sort by score
  nav-app/src/app/viewmodels.service.ts
Due: npm-lint-scripts

turn off technique selection/highlight across tactics when upgrading
  nav-app/src/app/tabs/tabs.component.ts
Due: npm-lint-scripts

Simplified calculateAggregateScore() for readability
  nav-app/src/app/viewmodels.service.ts
Due: npm-lint-scripts

Moved aggScore rounding to outside of avg function, in the case of large numbers for other functions as well
  nav-app/src/app/viewmodels.service.ts
Due: npm-lint-scripts

Sort preferably by techniques scored 0, over unscored techniques
  nav-app/src/app/matrix/technique-cell/tooltip/tooltip.component.html
  nav-app/src/app/viewmodels.service.ts
Due: npm-lint-scripts

Fixed errors with parsing booleans from object values (values were returning typeof string, throwing a TypeError)
  nav-app/src/app/viewmodels.service.ts
Due: npm-lint-scripts

Remove unused icons
  nav-app/src/assets/icons/ic_playlist_add_black_24px.svg
  nav-app/src/assets/icons/ic_playlist_add_gray_24px.svg
  nav-app/src/assets/icons/ic_settings_black_24dp.svg
Due: none

Fixed typo
  nav-app/src/app/techniques-search/techniques-search.component.html
  nav-app/src/app/techniques-search/techniques-search.component.ts
Due: npm-lint-scripts

Removed layer-upgrade component from this PR (this is part of issue#181)
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.html
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.scss
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.spec.ts
  nav-app/src/app/sidebar/layer-upgrade/layer-upgrade.component.ts
Due: npm-lint-styles, npm-lint-scripts

Removed layerUpgrade from sidebar (this is part of issue#181)
  nav-app/src/app/sidebar/sidebar.component.html
Due: none

Removed versions observer from Tabs component (this is part of issue#181)
  nav-app/src/app/tabs/tabs.component.ts
Due: npm-lint-scripts

Removed layerupgrade from app module (this is part of issue#181)
  nav-app/src/app/app.module.ts
Due: npm-lint-scripts

Removed dataService as parameter in app component constructor (this is part of issue#181)
  nav-app/src/app/app.component.ts
Due: npm-lint-scripts
